.body{
  background-image: url("images/background.jpg") no-repeat center fixed;
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: auto;
}

.link-up{
    border-radius: 50%;
   
}